h3{
    text-align: center;

}

p.sub-titulo{
    font-size: 20px;
}

.direita{
    text-align: right;
}

.center{
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}